@model ACTS.UI.Models.ForgotPasswordViewModel
@{
	Layout = null;
	bool returnToAdmin = string.IsNullOrWhiteSpace(ViewBag.ReturnUrl) ? false : 
		Uri.UnescapeDataString(ViewBag.ReturnUrl).ToLower().Contains("/admin");
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@GlobalRes.ForgotPassword</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	@Styles.Render("~/Content/css")
	<!-- Theme style -->
	<link href="@Url.Content("~/Content/AdminLTE.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			@if (returnToAdmin)
			{
				<a href="@Url.Action("Dashboard", "Admin", new { area = "Admin" })"><b>@GlobalRes.Admin</b>@GlobalRes.ACTS</a>
			}
			else
			{
				<a href="@Url.Action("Index","Home")"><b>@GlobalRes.ACTS</b>@GlobalRes.KPI</a>
			}
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<h3 class="login-box-msg"> @GlobalRes.ForgotPassword</h3>
			<p class="login-box-msg"> @GlobalRes.ForgotPasswordMsg</p>

			@using (Html.BeginForm("ForgotPassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary("", new { @class = "text-red" })

				<div class="form-group has-feedback">
					@Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = GlobalRes.Email })
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-6">
						@if (string.IsNullOrWhiteSpace(ViewBag.ReturnUrl))
						{
							<a class="btn btn-link btn-block btn-flat" href="@Url.Action("Login","Account")">@GlobalRes.Cancel</a>
						}
						else
						{
							<a class="btn btn-link btn-block btn-flat" href="@ViewBag.ReturnUrl">@GlobalRes.Cancel</a>
						}
					</div>
					<!-- /.col -->
					<div class="col-xs-6">
						<button type="submit" class="btn btn-primary btn-block btn-flat">@GlobalRes.SendEmail</button>
					</div>
					<!-- /.col -->
				</div>
			}
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</body>
</html>