@model ACTS.Core.Entities.Teacher

@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.CurrentTreeView = GlobalRes.Create;
	ViewBag.Title = GlobalRes.CreateTeacher;
}

@functions{
	const string partialForOrdCollection = "OrderableCollection";
}

@section Styles{
	@Styles.Render("~/Content/css/bootstrap-fileinput")
}

@section Scripts{
	@Scripts.Render("~/bundles/jqueryval-admin",
					"~/bundles/expressive",
					GlobalRes.fileinputPath,
					"~/bundles/sortable",
					"~/Resources/Required",
					"~/Resources/Display",
					"~/Scripts/Admin/initSortable.js")
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">@GlobalRes.CreateTeacher</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			@using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
			{
				<div class="box-body">
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-red" })

					<div class="form-group">
						@Html.LabelFor(model => model.FullName, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.FullName } })
							@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Position, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.Position, style = "width: 100%;" } })
							@Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Degree, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.Degree } })
							@Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Email, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.Email } })
							</div>
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.NameSlug, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.NameSlug, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.SlugHelpText } })
							@Html.ValidationMessageFor(model => model.NameSlug, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Intellect, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-fw fa-info"></i></span>
								@Html.EditorFor(model => model.Intellect, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.IntellectUrl } })
							</div>
							@Html.ValidationMessageFor(model => model.Intellect, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Vk, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-fw fa-vk"></i></span>
								@Html.EditorFor(model => model.Vk, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.VkontakteUrl } })
							</div>
							@Html.ValidationMessageFor(model => model.Vk, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Twitter, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-fw fa-twitter"></i></span>
								@Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.TwitterUrl } })
							</div>
							@Html.ValidationMessageFor(model => model.Twitter, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Facebook, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></span>
								@Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.FacebookUrl } })
							</div>
							@Html.ValidationMessageFor(model => model.Facebook, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Photo, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<input id="input-image" class="file-loading form-control" accept="image/*" type="file" name="Image" />
							@Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					@Html.EditorFor(model => model.Disciplines, partialForOrdCollection)
					@Html.EditorFor(model => model.ScienceInterests, partialForOrdCollection)
					@Html.EditorFor(model => model.Projects, partialForOrdCollection)
					@Html.EditorFor(model => model.Publications, partialForOrdCollection)

					<div class="form-group">
						@Html.LabelFor(model => model.Rank, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EnumDropDownListFor(model => model.Rank, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Rank, "", new { @class = "text-red" }, "p")
						</div>
					</div>
				</div>
					<!-- /.box-body -->

				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>&nbsp;@GlobalRes.Create
					</button>
					<a type="button" class="btn btn-default pull-right" href="@Url.Action("Table", "Teacher")">
						<i class="fa fa-undo"></i>&nbsp;@GlobalRes.CancelAndReturnToTable
					</a>
				</div>
			}
			<!-- form end -->
		</div>
	</div>
</div>
