@model IEnumerable<ACTS.Core.Entities.Teacher>

@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.Title = "Table of teacher";
	ViewBag.CurrentTreeView = "Tables";
}

@helper SocialLink(string text, string url, string classLink, string classI) {
	if (!string.IsNullOrEmpty(url))
	{
		<a class="btn btn-sm btn-social @classLink" href="@url">
			<i class="fa @classI"></i>@text
		</a>
	} else {
		<a class="btn btn-sm btn-social disabled @classLink">
			<i class="fa @classI"></i>@text
		</a>
	}
}

@section Styles{
	@Styles.Render("~/Content/css/datatables")
}

@section Scripts {
	@Scripts.Render("~/bundles/datatables")
	<script src="~/Scripts/Admin/Teacher/tableTeacher.js"></script>
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Teachers</h3>
				<div class="box-tools pull-right">
					<a href="@Url.Action("Create", "Teacher")" class="label label-primary"><i class="fa fa-fw fa-pencil">&nbsp;</i>Create new teacher</a>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="dataTablePlagin" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Full name</th>
							<th>Position</th>
							<th>Degree</th>
							<th>Email</th>
							<th>Social links</th>
							<th>Image</th>
							<th>Account</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@item.TeacherId
								</td>
								<td>
									@item.FullName
								</td>
								<td>
									@item.Position
								</td>
								<td>
									@item.Degree
								</td>
								<td>
									@item.Email
								</td>
								<td>
									<div class="btn-group-vertical">
										@SocialLink("Intellect", item.Intellect, "btn-info", "fa-info")
										@SocialLink("Vkontakte", item.Vk, "btn-vk", "fa-vk")
										@SocialLink("Twitter", item.Twitter, "btn-twitter", "fa-twitter")
										@SocialLink("Facebook", item.Facebook, "btn-facebook", "fa-facebook")
									</div>
								</td>
								<td>
									@if (item.Photo == null)
									{
										@:None
									} else
									{
										<img alt="Teacher image" width="80" height="115" src="@Url.Action("GetImage", "Teacher", new { area = "", item.TeacherId })" />
									}
								</td>
								<td>
									@if (item.HasUser)
									{
										@item.User.UserName
									}
									else
									{
										@:None
									}
								</td>
								<td>
									@using (Html.BeginForm("Delete", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
									{
										@Html.AntiForgeryToken()
										@Html.Hidden("TeacherId", item.TeacherId)
										<ul class="list-unstyled">
											<li><a href="@Url.Action("Edit", "Teacher", new { item.TeacherId })" class="btn btn-link"><i class="fa fa-edit ">&nbsp;Edit</i></a></li>
											<li><a href="@Url.Action("PageNews", "Employee", new { item.TeacherId })" class="btn btn-link"><i class="fa fa-home ">&nbsp;On Main</i></a></li>
											<li><button class="btn btn-link" type="submit"><i class="fa fa-remove text-danger">&nbsp;Delete</i></button></li>
										</ul>
									}
								</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Full name</th>
							<th>Position</th>
							<th>Degree</th>
							<th>Email</th>
							<th>Social links</th>
							<th>Image</th>
							<th>Account</th>
							<th>Actions</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
