@*@using Fabrik.Common.Web*@
@model ACTS.UI.Areas.Admin.Models.AccountViewModel
@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.CurrentTreeView = "Create";
	ViewBag.Title = "Create account";
}

@section Styles {
	@Styles.Render("~/Content/css/select2")
	<!-- iCheck -->
	<link href="~/Content/iCheck/square/blue.css" rel="stylesheet" />
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval-admin")
	@Scripts.Render("~/bundles/expressive")
	@Scripts.Render("~/bundles/select2")
	<script>
		$(document).ready(function () {
			$(".select2").select2();
		});
	</script>
	<!-- iCheck -->
	<script src="~/Scripts/jquery.icheck.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('input').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_square-blue',
				increaseArea: '20%' // optional
			});
		});
	</script>
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"> Create account</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			@*TODO: Rustam помоги сделать что бы когда оно проверяет и там неправильные даные то виглядела как http://bootstrap-3.ru/css.php#forms-control-validation*@
			@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
			{
				<div class="box-body">
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group">
						@Html.LabelFor(model => model.UserName, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
								@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User name" } })
							</div>
							@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" }, "p")
						</div>
					</div>

					<div id="beforeCheckbox" class="form-group">
						@Html.LabelFor(model => model.Email, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
							</div>
							@Html.ValidationMessageFor(model => Model.Email, "", new { @class = "text-danger help-block" }, "p")
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-8 col-lg-9 col-md-offset-3 col-lg-offset-2">
							<div class="checkbox icheck">
								@Html.CheckBoxFor(model => model.SendVerification)
								@Html.LabelFor(model => model.SendVerification)
							</div>
							@Html.ValidationMessageFor(model => Model.SendVerification, "", new { @class = "text-danger help-block" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Password, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
								@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
							</div>
							@Html.ValidationMessageFor(model => Model.Password, "", new { @class = "text-danger help-block" }, "p")
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
								@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm password" } })
							</div>
							@Html.ValidationMessageFor(model => Model.ConfirmPassword, "", new { @class = "text-danger help-block" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Roles, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.Roles)
							@Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger help-block" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PairTeacherId, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.DropDownListFor(model => model.PairTeacherId, ViewBag.Teachers as IEnumerable<SelectListItem>, "The teacher is absent.", new { @class = "select2 form-control", style = "width: 100%;" })
							@Html.ValidationMessageFor(model => model.PairTeacherId, "", new { @class = "text-danger help-block" }, "p")
						</div>
					</div>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>&nbsp;Create
					</button>
					<a type="button" class="btn btn-default pull-right" href="@Url.Action("Table", "Account")">
						<i class="fa fa-undo"></i>&nbsp;Cancel and return to Table
					</a>
				</div>
			}
			<!-- form end -->
		</div>
	</div>
</div>

