@model ACTS.UI.Areas.Admin.Models.EditAccountViewModel

@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.Title = GlobalRes.EditAccount;
}

@section Styles{
	<!-- iCheck -->
	@Styles.Render("~/Content/css/iCheck/blue")
}

@section Scripts{
	@Scripts.Render("~/bundles/jqueryval-admin")
	@Scripts.Render("~/bundles/expressive")
	<!-- iCheck -->
	@Scripts.Render("~/bundles/iCheck")
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">@GlobalRes.Redact @Model.UserName</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
			{
				<div class="box-body">
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-red" })
					@Html.HiddenFor(model => model.Id)

					<div class="form-group">
						@Html.LabelFor(model => model.UserName, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
								@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.UserName } })
							</div>
							@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Email, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.Email } })
							</div>
							@Html.ValidationMessageFor(model => Model.Email, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Roles, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.Roles)
							@Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PairTeacherId, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.DropDownListFor(model => model.PairTeacherId, ViewBag.Teachers as IEnumerable<SelectListItem>, GlobalRes.TeacherAbsent, new { @class = "select2 form-control", style = "width: 100%;" })
							@Html.ValidationMessageFor(model => model.PairTeacherId, "", new { @class = "text-red" }, "p")
						</div>
					</div>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-edit"></i>&nbsp;@GlobalRes.Save
					</button>
					<a type="button" class="btn btn-default pull-right" href="@Url.Action("Table", "Account")">
						<i class="fa fa-undo"></i>&nbsp;@GlobalRes.CancelAndReturnToTable
					</a>
				</div>
			}
			<!-- form end -->
		</div>
	</div>
</div>