@model IEnumerable<ACTS.UI.Areas.Admin.Models.InfoAccountViewModel>

@{
	ViewBag.Title = "Table of accounts";
	ViewBag.CurrentTreeView = "Tables";
}

@section Styles{
	@Styles.Render("~/Content/css/datatables")
}

@section Scripts {
	@Scripts.Render("~/bundles/datatables")
	<script src="~/Scripts/Admin/Account/tableAccount.js"></script>
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header"><h3 class="box-title">Accounts</h3></div>

			<div class="box-body">
				<table id="dataTablePlagin" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>UserName</th>
							<th>Email</th>
							<th>Roles</th>
							<th>Teacher</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@item.Id
								</td>
								<td>
									@item.UserName
								</td>
								<td>
									@if (string.IsNullOrWhiteSpace(item.Email))
									{
										@:None
									} else
									{
										@item.Email
									}
								</td>
								<td>
									<ul class="list-unstyled">
										@foreach (var role in item.Roles)
										{
											<li>@role</li>
										}
									</ul>
								</td>
								<td>
									@if (string.IsNullOrWhiteSpace(item.TeacherName))
									{
										@:None
									} else
									{
										@item.TeacherName
									}
								</td>
								<td>
									@using (Html.BeginForm("Delete", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
									{
										@Html.Hidden("Id", item.Id)
										<ul class="list-unstyled">
											<li><a href="@Url.Action("Edit", "Account", new { item.Id })" class="btn btn-link"><i class="fa fa-edit ">&nbsp;Edit</i></a></li>
											<li><button class="btn btn-link" type="submit"><i class="fa fa-remove text-danger">&nbsp;Delete</i></button></li>
										</ul>
									}
								</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>UserName</th>
							<th>Email</th>
							<th>Roles</th>
							<th>Teacher</th>
							<th>Actions</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->

			<div class="box-footer">
				<a href="@Url.Action("Create", "Account")" class="btn btn-primary btn-lg fa fa-edit">&nbsp;Create new account</a>
			</div>
		</div>
		<!-- /.box -->
	</div>
</div>
