@model IEnumerable<ACTS.Core.Entities.News>

@{
	ViewBag.Title = "Table of News";
	ViewBag.CurrentTreeView = "Tables";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link type="text/css" href="~/Content/datatables.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>

<script type="text/javascript">
	//$(document).ready(function () {
	//	$('#dataTablePlagin').DataTable();
	//});

	$(document).ready(function () {
		var table = $('#dataTablePlagin').DataTable({
			scrollX: true,
			scrollY : false,
			scrollCollapse: true,
			select: {
				style: 'single'
			},
			lengthChange: false,
			buttons: true,
			lengthMenu: [
			[5, 10, 25, 50, -1],
			['5 rows', '10 rows', '25 rows', '50 rows', 'Show all']
			],
			buttons: [
				'pageLength',
				{
					extend: 'selectedSingle',
					text: 'Edit',
					action: function (e, dt, node, config) {
						var newsId = dt.row({ selected: true }).data()[0];
						//var href = '@Url.Action("EditNews", "Admin", new { })/' + newsId
						@*location.href = @Url.Action("EditNews", "Admin", new {
												@:id
											})*@
						$.ajax({ type: "GET", url: "@Url.Action("EditNews", "Admin")", data: { NewsID: newsId }, dataType: "html"});
						console.log(newsId);
					}
				},
				{
					extend: 'selectedSingle',
					text: 'Delete',
					action: function (e, dt, node, config) {
						var newsId = dt.row({ selected: true }).data()[0];
						//var href = '@Url.Action("DeleteNews", "Admin", new { })/' + newsId
						@*location.href = @Url.Action("EditNews", "Admin", new {
												@:id
											})*@
						$.ajax({ type: "POST", url: "@Url.Action("DeleteNews", "Admin")", data: { NewsID: newsId }, dataType: "html"});
						console.log(newsId);
					}
				}
			]
		});

		table.buttons().container()
			.appendTo('#dataTablePlagin_wrapper .col-sm-6:eq(0)');
	});
</script>

<section>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">News</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="dataTablePlagin" class="table table-bordered table-striped" width="100%">
						<thead>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Create</th>
								<th>Modified</th>
								<th>Image</th>
								<th>Content</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.NewsID
									</td>
									<td>
										@item.Title
									</td>
									<td>
										@item.Create.Value.ToLocalTime().ToShortDateString()
									</td>
									<td>
										@if (item.Modified.HasValue)
										{
											@item.Modified.Value.ToLocalTime().ToShortDateString()
										} else
										{
											@:None
										}
									</td>
									<td>
										@if (item.ImageData == null)
										{
											@:None
										} else
										{
											<img width="100" height="100" src="@Url.Action("GetImage", "News", new { item.NewsID })" />
										}
									</td>
									<td>
										@Html.Raw(item.Content)
									</td>
									<td>
										@using (Html.BeginForm("DeleteNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
										{
											<div class="btn-group-vertical">
												@Html.ActionLink("Edit", "EditNews", new { item.NewsID }, new { @class = "btn btn-default" })
												@Html.ActionLink("On Main", "PageNews", "News", new { item.NewsID }, new { @class = "btn btn-default" })
												@Html.Hidden("NewsID", item.NewsID)
												<input class="btn btn-default" type="submit" value="Delete" />
												@*@Html.ActionLink("Delete", "DeleteNews", new { item.NewsID }, new { @class = "btn btn-default" })*@
											</div>
										}
									</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Create</th>
								<th>Modified</th>
								<th>Image</th>
								<th>Content</th>
								<th>Actions</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					@Html.ActionLink("Create new News", "CreateNews", null, new { @class = "btn btn-primary" })
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
