@model IEnumerable<ACTS.Core.Entities.News>

@{
	ViewBag.Title = "Table of News";
	ViewBag.CurrentTreeView = "Tables";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link type="text/css" href="~/Content/datatables.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>

<script type="text/javascript">
	//$(document).ready(function () {
	//	$('#dataTablePlagin').DataTable();
	//});

	$(document).ready(function () {
		var table = $('#dataTablePlagin').DataTable({
			scrollX: true,
			scrollY: false,
			scrollCollapse: true,
			//select: {
			//	style: 'single'
			//},
			columns: [
		   { className: "dt-center" },
		   { className: "dt-center" },
		   { className: "dt-center" },
		   { className: "dt-center" },
		   { className: "dt-center" },
		   { className: "dt-head-center" },
		   { className: "dt-center" }
			],
			//lengthChange: true,
			//buttons: false,
			lengthMenu: [
			[5, 10, 25, 50, -1],
			['5', '10', '25', '50', 'All']
			],
			//buttons: [
			//	'pageLength'
				//{
				//	extend: 'selectedSingle',
				//	text: 'Edit',
				//	action: function (e, dt, node, config) {
				//		var newsId = dt.row({ selected: true }).data()[0];
				//		//var href = '@Url.Action("EditNews", "Admin", new { })/' + newsId
				//		@*location.href = @Url.Action("EditNews", "Admin", new {
				//								@:id
				//							})*@
				//		$.ajax({ type: "GET", url: "@Url.Action("EditNews", "Admin")", data: { NewsID: newsId }, dataType: "html"});
				//		console.log(newsId);
				//	}
				//},
				//{
				//	extend: 'selectedSingle',
				//	text: 'Delete',
				//	action: function (e, dt, node, config) {
				//		var newsId = dt.row({ selected: true }).data()[0];
				//		//var href = '@Url.Action("DeleteNews", "Admin", new { })/' + newsId
				//		@*location.href = @Url.Action("EditNews", "Admin", new {
				//								@:id
				//							})*@
				//		$.ajax({ type: "POST", url: "@Url.Action("DeleteNews", "Admin")", data: { NewsID: newsId }, dataType: "html"});
				//		console.log(newsId);
				//	}
				//}
			//]
		});

		//table.buttons().container()
		//	.appendTo('#dataTablePlagin_wrapper .col-sm-6:eq(0)');
	});
</script>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">News</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="dataTablePlagin" class="table table-bordered table-striped table-hover" width="100%">
						<thead>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Create</th>
								<th>Modified</th>
								<th>Image</th>
								<th>Content</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.NewsID
									</td>
									<td>
										@item.Title
									</td>
									<td>
										@item.Create.Value.ToLocalTime().ToShortDateString()
									</td>
									<td>
										@if (item.Modified.HasValue)
										{
											@item.Modified.Value.ToLocalTime().ToShortDateString()
										} else
										{
											@:None
										}
									</td>
									<td>
										@if (item.ImageData == null)
										{
											@:None
										} else
										{
											<img width="100" height="100" src="@Url.Action("GetImage", "News", new { item.NewsID })" />
										}
									</td>
									<td>
										@Html.Raw(item.Content)
									</td>
									<td>
										@using (Html.BeginForm("DeleteNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
										{
											<div class="btn-group-vertical">
												<a href="@Url.Action("EditNews", new { item.NewsID })" class="btn btn-default"><i class="fa fa-edit ">&nbsp;Edit</i></a>
												<a href="@Url.Action("PageNews", "News", new { item.NewsID })" class="btn btn-default"><i class="fa fa-home ">&nbsp;On Main</i></a>
												@Html.Hidden("NewsID", item.NewsID)
												<button class="btn btn-default" type="submit"><i class="fa fa-remove ">&nbsp;Delete</i></button>
											</div>
										}
									</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Create</th>
								<th>Modified</th>
								<th>Image</th>
								<th>Content</th>
								<th>Actions</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<a href="@Url.Action("CreateNews")" class="btn btn-primary fa fa-edit">&nbsp;Create new News</a>
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
