@model ACTS.UI.Areas.Admin.Models.LogViewModel

@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.Title = GlobalRes.Logging;
}

@section Styles{
	@Styles.Render("~/Content/css/datatables")
	@Styles.Render("~/Content/css/daterange")
}

@section Scripts {
	@Scripts.Render(GlobalRes.dataTablePath)
	@Scripts.Render(GlobalRes.dateRangePath)
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">@GlobalRes.Logging</h3>
				<div class="box-tools pull-right">
					<a href="@Url.Action("Rss", "Logging")" class="label label-primary"><i class="fa fa-fw fa-rss"></i>&nbsp;Rss</a>
				</div>
			</div>

			<div class="box-body">
				@using (Html.BeginForm("ByLevelAndDate", "Logging", FormMethod.Get, new { @class = "form-inline" }))
				{
					<div class="form-group">
						@Html.LabelFor(m => m.LogLevel)
						@Html.EnumDropDownListFor(m => m.LogLevel, new { @class = "form-control input-sm" })
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.StartDate)
						@Html.HiddenFor(m => m.StartDate, new {  @class = "form-control input-sm start" })
						@Html.LabelFor(m => m.EndDate, new { @class = "sr-only"})
						@Html.HiddenFor(m => m.EndDate, new {  @class = "form-control input-sm end" })
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa fa-calendar"></i></span>
							<button id="daterange" type="button" class="form-control input-sm" > @Model.StartDate - @Model.EndDate</button>
						</div>
					</div>

					<button type="submit" class="btn btn-sm btn-primary btn-flat">
						<i class="fa fa-filter"></i>&nbsp;@GlobalRes.ApplyFilter
					</button>
				}
			</div>

			<div class="box-body">
				<table id="dataTablePlagin" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="desc">@GlobalRes.Id</th>
							<th>@GlobalRes.Level</th>
							<th class="time">@GlobalRes.Date</th>
							<th>@GlobalRes.Logger</th>
							<th>@GlobalRes.Message</th>
							<th class="no-center-body">@GlobalRes.CallSite</th>
							<th class="no-center-body">@GlobalRes.StackTrace</th>
							<th>@GlobalRes.Exception</th>
							<th>@GlobalRes.UserName</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Logs)
						{
							<tr>
								<td>
									@item.LogEntryId
								</td>
								<td data-order="@item.Level.GetHashCode()">
									@item.Level
								</td>
								<td>
									@item.UtcDate.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss.fff")
								</td>
								<td>
									@item.Logger
								</td>
								<td>
									@item.Message
								</td>
								<td>
									@item.CallSite
								</td>
								<td>
									@item.StackTrace
								</td>
								<td>
									@if (!string.IsNullOrEmpty(item.Exception))
									{
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exceptionalModal"><i class="fa fa-open">&nbsp;</i>@GlobalRes.Details</button>

										<!-- Modal -->
										<div class="modal fade" id="exceptionalModal" tabindex="-1" role="dialog" aria-labelledby="exceptionalModalLabel">
											<div class="vertical-alignment-helper">
												<div class="modal-dialog modal-lg vertical-align-center" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="exceptionalModalLabel">@GlobalRes.Exception</h4>
															<div class="modal-body">
																<pre style="text-align:left">@item.Exception</pre>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									}
								</td>
								<td>
									@item.Username
								</td>
							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<th>@GlobalRes.Id</th>
							<th>@GlobalRes.Level</th>
							<th>@GlobalRes.Date</th>
							<th>@GlobalRes.Logger</th>
							<th>@GlobalRes.Message</th>
							<th>@GlobalRes.CallSite</th>
							<th>@GlobalRes.StackTrace</th>
							<th>@GlobalRes.Exception</th>
							<th>@GlobalRes.UserName</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
