@{
    var culture = CultureHelper.GetImplementedCulture(UICulture);
    //var lang = CultureHelper.GetCurrentNeutralCulture();
}
@helper LanguageLinkBuilder(string culture, string currentCulture)
{
	<a
	@if (culture == currentCulture)
	{
		@:class="selectedLanguage"
	}
	href="@Url.Action("SetCulture", "Home", new { culture = culture, returnUrl = Url.Action() })">@culture</a>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" lang="@CultureHelper.GetCurrentNeutralCulture()" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/MainPage")
</head>
<body style="height:100%">         
    <div class="slider" id="slider">
        <div class="navigation">
            <div class="container">
                <ul>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <ul>
            <li class="slide sl1 active">
                <div class="container">
                    <div class="title">
                        <span>Сучасна</span>
                        <br />матеріальна
                        <br />база
                    </div>
                </div>
            </li>
            <li class="slide sl2">
                <div class="container">
                    <div class="title">
                        Ґрунтовна <span>освіта</span> -
                        <br />гарна робота
                    </div>
                </div>
            </li>
            <li class="slide sl3">
                <div class="container">
                    <div class="title">
                        Одна з <span>найкращих</span>
                        <br />кафедр
                        <br />КПІ
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-container">
        <nav class="menu navbar navbar-default navbar-static-top" role="navigation">
            <div class="container nav-row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("About", "Department")">
                        <img src="~/Content/Images/logo.png" style="max-height:100%" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            if (ViewBag.CurrentPage != "main")
                            {
                                <li class="navLink"><a href="@Url.Action("About", "Department")">@GlobalRes.Main</a></li>
                            }
                        }
                        <!--Генерация панели навигации из PartialView PanelSections-->
                        @Html.Partial("PanelSections")
                    </ul>
                    <!--Выбор локализации -->
                    <ul style="margin-right:10px" class="nav navbar-nav navbar-right">
                        <li class="navLink">
                            @{Html.RenderAction("AuthenticationLink", new { controller = "Account", area = "" }); }
                        </li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a class="navLink" href="javascript:document.getElementById('logoutForm').submit()">
                                    @GlobalRes.Logout
                                </a>

                            }
                        </li>
                        <li class="dropdown lang-menu navLink">
                            <a href="#" class="dropdown-toggle navLink" data-toggle="dropdown">
                                <i class="fa fa-fw fa-language"></i>&nbsp;@GlobalRes.Language
                            </a>
                            <ul class="dropdown-menu animated-dropdown-menu">
                                <li>
                                    <a class="language languageLink" href="@Url.Action("SetCulture", "Home", new { culture = "uk", returnUrl = Url.Action(), area = "" })">
                                        <img src="~/Content/Images/uk.png" alt="Ukrainian flag" />
                                        <p>@GlobalRes.Ukrainian</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="language " href="@Url.Action("SetCulture", "Home", new { culture = "en", returnUrl = Url.Action(), area = "" })">
                                        <img src="~/Content/Images/en.png" alt="English flag" />
                                        <p>@GlobalRes.English</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="language" href="@Url.Action("SetCulture", "Home", new { culture = "ru", returnUrl = Url.Action(), area = "" })">
                                        <img src="~/Content/Images/ru.png" alt="Russian flag" />
                                        <p>@GlobalRes.Russian</p>
									</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--Поиск-->
                    @*<form class="navbar-form navbar-right">
                            <input type="text" class="form-control" placeholder="@GlobalRes.Search">
                        </form>*@
                </div>
            </div>
        </nav>
    </div>
    <div class="container fluid">
        @RenderBody()
    </div>
    <div class="row footer" style="padding-top:30px">
        @Html.Partial("Footer")
    </div>
        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main-layout")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $(window).on("load resize", function () {
                $(".fill-screen").css("height", window.innerHeight);
            });
        });
    </script>
</body>
</html>



