<div class="col-md-3 mainColumns">
    <nav class="nav-column">
        <ul class="nav navbar">
            <li class="sidebar-brand">
            <li><a class="active" href="@Url.Action("About","Department")">@GlobalRes.About</a></li>
            <li><a href="@Url.Action("History", "Department")">@GlobalRes.History</a></li>
            <li><a href="@Url.Action("TeachingStaff","Teacher")">@GlobalRes.TeachingStaff</a></li>
            <li><a href="@Url.Action("ServicePersonell")">@GlobalRes.ServicePersonell</a></li>
            <li><a href="@Url.Action("OurGraduates")">@GlobalRes.OurGraduates</a></li>
            <li><a href="@Url.Action("Placement")">@GlobalRes.Placement</a></li>
        </ul>
        <a class="back-to-top" href="#top">Back to top</a>
    </nav>
</div>  
