<li class="dropdown nav">
    <span>@GlobalRes.Department<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("About", "Department")">@GlobalRes.About</a></li>
        <li><a href="@Url.Action("History", "Department")">@GlobalRes.History</a></li>
        <li><a href="@Url.Action("TeachingStaff", "TeachingStaff")">@GlobalRes.TeachingStaff</a></li>
        <li><a href="@Url.Action("ServicePersonell", "Department")">@GlobalRes.ServicePersonell</a></li>
        <li><a href="@Url.Action("OurGraduates", "Department")">@GlobalRes.OurGraduates</a></li>
    </ul>
</li>
<li class="dropdown nav">
    <span>@GlobalRes.ForStudent<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Organizations", "ForStudent")">@GlobalRes.StudentOrganizations</a></li>
        <li><a href="@Url.Action("Specialties", "ForStudent")">@GlobalRes.Specialties</a></li>
        <li><a href="@Url.Action("StudentRating", "ForStudent")">@GlobalRes.StudentRating</a></li>
        <li><a href="@Url.Action("StudentCity", "ForStudent")">@GlobalRes.StudentCity</a></li>
        <li><a href="@Url.Action("UsefulLinks", "ForStudent")">@GlobalRes.UsefulLinks</a></li>
        <li><a href="@Url.Action("Postgraduates", "ForStudent")">@GlobalRes.Postgraduate</a></li>
        <li><a href="@Url.Action("CoursesAndProbations", "ForStudent")">@GlobalRes.CoursesAndProbations</a></li>
        <li><a href="@Url.Action("Placement", "ForStudent")">@GlobalRes.Placement</a></li>
    </ul>
</li>
<li class="dropdown nav">
    <span>@GlobalRes.Science<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("ScienceFields","Science")">@GlobalRes.ScienceFields</a></li>
        <li><a href="@Url.Action("Researches","Science")">@GlobalRes.Researches</a></li>
        <li><a href="@Url.Action("Achievments","Science")">@GlobalRes.Achievments</a></li>
        <li><a href="@Url.Action("ScienceConnections","Science")">@GlobalRes.ScienceConnections</a></li>
        <li><a href="@Url.Action("Laboratories","Science")">@GlobalRes.Laboratories</a></li>
        <li><a href="@Url.Action("PrizesAndAwards","Science")">@GlobalRes.PrizeAndAwards</a></li>
    </ul>
</li>
<li class="dropdown nav">
    <span>@GlobalRes.ForEnrollee<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OpenDoors","ForEnrollee")">@GlobalRes.OpenDoors</a></li>
        <li><a href="@Url.Action("ConditionsOfAdmissions","ForEnrollee")">@GlobalRes.ConditionsOfAdmissions</a></li>
        <li><a href="@Url.Action("FDP","ForEnrollee")">@GlobalRes.FDP</a></li>
        <li><a href="@Url.Action("Magistracy","ForEnrollee")">@GlobalRes.Magistracy</a></li>
    </ul>
</li>
<li class="navLink"><a href="@Url.Action("Contacts","Home")">@GlobalRes.Contact</a></li>
