<li class="dropdown">
    <span>@GlobalRes.Department<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("About", "Department")">@GlobalRes.About</a></li>
        <li><a href="@Url.Action("History", "Department")">@GlobalRes.History</a></li>
        <li><a href="@Url.Action("TeachingStaff", "Teacher")">@GlobalRes.TeachingStaff</a></li>
        <li><a href="@Url.Action("ServicePersonell", "Department")">@GlobalRes.ServicePersonell</a></li>
        <li><a href="@Url.Action("OurGraduates", "Department")">@GlobalRes.OurGraduates</a></li>
        <li><a href="@Url.Action("Placement", "Department")">@GlobalRes.Placement</a></li>
    </ul>
</li>
<li class="dropdown">
    <span>@GlobalRes.ForStudent<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Specialties", "ForStudent")">@GlobalRes.Specialties</a></li>
        <li><a href="@Url.Action("StudentRating", "ForStudent")">@GlobalRes.StudentRating</a></li>
        <li><a href="@Url.Action("UsefulLinks", "ForStudent")">@GlobalRes.UsefulLinks</a></li>
        <li><a href="@Url.Action("Schedule", "ForStudent")">@GlobalRes.Schedule</a></li>
        <li><a href="@Url.Action("Postgraduates", "ForStudent")">@GlobalRes.Postgraduate</a></li>
        <li><a href="@Url.Action("CoursesAndProbations", "ForStudent")">@GlobalRes.CoursesAndProbations</a></li>
    </ul>
</li>
<li class="dropdown">
    <span>@GlobalRes.Science<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("ScienceFields","ForStudentsЄ")">@GlobalRes.ScienceFields</a></li>
        <li><a href="@Url.Action("Researches","ForStudents")">@GlobalRes.Researches</a></li>
        <li><a href="@Url.Action("Achievments","ForStudents")">@GlobalRes.Achievments</a></li>
        <li><a href="@Url.Action("ScienceConnections","ForStudents")">@GlobalRes.ScienceConnections</a></li>
        <li><a href="@Url.Action("Laboratories","ForStudents")">@GlobalRes.Laboratories</a></li>
        <li><a href="@Url.Action("PrizesAndAwards","ForStudents")">@GlobalRes.PrizeAndAwards</a></li>
    </ul>
</li>
<li class="dropdown">
    <span>@GlobalRes.ForEnrollee<b class="caret"></b></span>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("OpenDoors","ForEnrollee")">@GlobalRes.OpenDoors</a></li>
        <li><a href="@Url.Action("ConditionsOfAdmissions","ForEnrollee")">@GlobalRes.ConditionsOfAdmissions</a></li>
        <li><a href="@Url.Action("FDP","ForEnrollee")">@GlobalRes.FDP</a></li>
        <li><a href="@Url.Action("Magistracy","ForEnrollee")">@GlobalRes.Magistracy</a></li>
    </ul>
</li>
<li><a href="@Url.Action("Contacts","Home")">@GlobalRes.Contact</a></li>
