@model ACTS.Core.Entities.Teacher
<div class="personWrapper">
    <div class="person__avatar">
        @if (Model.PhotoId == null)
        {
            @:None
		}
        else
        {
            <img class="TeacherPhoto" alt="Teacher Photo" width="100" height="150" src="@Url.Action("Index", "File", new { area = "", Model.PhotoId })" />
        }
    </div>
    <div class="personInfo">
        <div class="personName">
            @Model.FullName
        </div>
        <div class="personPosition">
            @Model.Position
        </div>
        @if (Model != null && Model.Blog != null)
        {
            @Html.ActionLink(GlobalRes.PersonalPage, "PersonalPage", new { area = "Peoples", controller = "Blog", nameSlug = Model.NameSlug })
        }
    </div>
    <div class="personDescription" style="display:none">
        <p>@GlobalRes.Degree:@Model.Degree</p>
        @if (Model.Disciplines != null && Model.Disciplines.Count > 0)
        {
            <p>@GlobalRes.Disciplines</p>
            <ul class="TSDisciplines">
                @{

                    foreach (var item in Model.Disciplines)
                    {
                        <li>
                            item
                        </li>
                    }
                }
            </ul>
            <p><strong>Интересы:</strong></p>
            <ul>
                @{
                    foreach (var item in Model.ScienceInterests)
                    {
                        <li>
                            item
                        </li>
                    }
                }
            </ul>
        }
    </div>
</div>
