<div class="col-md-3 mainColumns navColumns">
    <nav class="nav-column" style="padding-top:20px">
        <ul class="nav navbar">
            <li class="sidebar-brand">@GlobalRes.Science</li>
            <li><a class="active" href="@Url.Action("ScienceFields","Science")">@GlobalRes.ScienceFields</a></li>
            <li><a href="@Url.Action("Researches", "Science")">@GlobalRes.Researches</a></li>
            <li><a href="@Url.Action("Laboratories", "Science")">@GlobalRes.Laboratories</a></li>
            <li><a href="@Url.Action("Achievments","Science")">@GlobalRes.Achievments</a></li>
            <li><a href="@Url.Action("ScienceConnections","Science")">@GlobalRes.ScienceConnections</a></li>
            <li><a href="@Url.Action("StudentResearches", "Science")">@GlobalRes.StudentResearches</a></li>
            <li><a href="@Url.Action("PrizesAndAwards", "Science")">@GlobalRes.PrizeAndAwards</a></li>
        </ul>
        <div>
            <div id="vk_groups"></div>
        </div>
    </nav>
</div>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

<!-- VK Widget -->
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 36771411);
</script>
