@helper IsActiveTreeView(string activeTreeView)
{
	if (ViewBag.CurrentTreeView == activeTreeView)
	{ 
		@:active
	}
}
@helper IsActivePage(string activePage)
{
	if (ViewBag.CurrentPage == activePage)
	{
		@:active
	}
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@RenderSection("styles", required: false)
	@Styles.Render("~/Content/css/admin")
</head>
<body class="hold-transition skin-green sidebar-mini">
	<section class="wrapper">
		<header class="main-header">
			<!-- Logo -->
			<a href="@Url.Action("Dashboard", "Admin")" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini">ACTS</span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Admin</b>ACTS</span>
			</a>

			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				@Html.Partial("_PartialUser")

			</nav>
		</header>

		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="header">NAVIGATION</li>
					<li class="@IsActivePage("Dashboard")">
						<a href="@Url.Action("Dashboard", "Admin")">
							<i class="fa fa-dashboard"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<li class="@IsActivePage("Index")">
						<a href="@Url.Action("Index", "MyAccount")">
							<i class="fa fa-user"></i>
							<span>My account</span>
						</a>
					</li>
					<li class="treeview @IsActiveTreeView("Tables")">
						<a href="#">
							<i class="fa fa-table"></i>
							<span>Tables</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li class="@IsActivePage("TableNews")"><a href="@Url.Action("Table","News")"><i class="fa fa-circle-o"></i>Uncos</a></li>
							<li class="@IsActivePage("TableEmployee")"><a href="@Url.Action("Table", "Employee")"><i class="fa fa-circle-o"></i>Employees</a></li>
							<li class="@IsActivePage("TableTeacher")"><a href="@Url.Action("Table", "Teacher")"><i class="fa fa-circle-o"></i>Teachers</a></li>
							<li class="@IsActivePage("TableAccount")"><a href="@Url.Action("Table", "Account")"><i class="fa fa-circle-o"></i>Accounts</a></li>
						</ul>
					</li>
					<li class="treeview @IsActiveTreeView("Create")">
						<a href="#">
							<i class="fa fa-pencil"></i>
							<span>Create</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li class="@IsActivePage("CreateNews")"><a href="@Url.Action("Create","News")"><i class="fa fa-circle-o"></i>News</a></li>
							<li class="@IsActivePage("CreateEmployee")"><a href="@Url.Action("Create", "Employee")"><i class="fa fa-circle-o"></i>Employee</a></li>
							<li class="@IsActivePage("CreateTeacher")"><a href="@Url.Action("Create", "Teacher")"><i class="fa fa-circle-o"></i>Teacher</a></li>
							<li class="@IsActivePage("CreateAccount")"><a href="@Url.Action("Create", "Account")"><i class="fa fa-circle-o"></i>Account</a></li>
						</ul>
					</li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<section class="content-wrapper">
			<div class="content-header">
				<h1>@ViewBag.Title</h1>

				<ol class="breadcrumb">
					<li><a href="@Url.Action("Dashboard", "Admin")"><i class="fa fa-dashboard"></i> Home</a></li>
					@if (!string.IsNullOrEmpty(ViewBag.CurrentTreeView))
					{
						<li> @ViewBag.CurrentTreeView</li>
					}
					<li class="active"> @ViewBag.Title</li>
				</ol>
			</div>
			<!-- /.content-header -->
			<!-- Main content -->

			<section class="content">

				@Html.Partial("_PartialMessager")

				@RenderBody()
			</section>

		</section>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> alpha 1.0
			</div>
			<strong>Copyright &copy; 2015 <a href="https://vk.com/inatoff"> Rostik Studio</a>.</strong> All reserved.
		</footer>
	</section>
	<!-- ./wrapper -->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/admin")
	@RenderSection("scripts", required: false)
</body>
</html>
