@model ACTS.Core.Entities.Event

@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.CurrentTreeView = GlobalRes.Create;
	ViewBag.Title = GlobalRes.CreateEvent;
}

@section Styles{
	@Styles.Render("~/Content/css/bootstrap-fileinput")
	@Styles.Render("~/Content/css/daterange")
}

@section Scripts{
	@Scripts.Render("~/bundles/jqueryval-admin")
	@Scripts.Render("~/bundles/expressive")
	@Scripts.Render(GlobalRes.fileinputPath)
	@Scripts.Render(GlobalRes.dateRangePath)
	@Scripts.Render(GlobalRes.tinymcePath)
	@Scripts.Render(GlobalRes.fileinputPath)
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">@GlobalRes.CreateEvent</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
			{
				<div class="box-body">
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-red" })

					<div class="form-group">
						@Html.LabelFor(model => model.Title, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.Title } })
							@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.StartView, new { @class = "col-md-3 col-lg-2 control-label" })
						@Html.HiddenFor(model => model.StartView, new { @class = "form-control input-sm start" })
						@Html.HiddenFor(model => model.EndView, new { @class = "form-control input-sm end" })
						<div class="col-md-8 col-lg-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa fa-calendar"></i></span>
								<button id="daterange" type="button" class="form-control input-sm"> @Model.StartView - @Model.EndView</button>
							</div>
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.UrlSlug, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.UrlSlug, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.SlugHelpText } })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.ImageData, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<input id="input-image" class="file-loading form-control" accept="image/*" type="file" name="Image" />
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Content, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.TextAreaFor(model => model.Content, new { @class = "tinymceEditor" })
							@Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-red", placeholder = GlobalRes.Content }, "p")
						</div>
					</div>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>&nbsp;@GlobalRes.Create
					</button>
					<a type="button" class="btn btn-default pull-right" href="@Url.Action("Table", "Event")">
						<i class="fa fa-undo"></i>&nbsp;@GlobalRes.CancelAndReturnToTable
					</a>
				</div>
			}
			<!-- form end -->
		</div>
	</div>
</div>

