@model IEnumerable<ACTS.Core.Entities.News>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = GlobalRes.ArchiveUncos;
}
<div class="row">
    @Html.Partial("DepartmentNav")
    <div class="col-md-9 mainColumns content-col" style="background-color:rgba(255, 255, 255, 0.4);" role="main">
        <div class="c__block-title">@GlobalRes.ArchiveUncos</div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("Index","News", new {area="", id=item.NewsId})" title="@item.Title">
                        <div class="uncos-image">
                            @if (item.ImageId.HasValue)
                            {
                                <img src="@Url.Action("Index","File",new { area="", id=item.ImageId})" />
                            }
                        </div>
                        <div>
                            <p class="uncos-title">@item.Title</p>
                        </div>
                        <div>
                            <p class="uncos-date">@(item.Modified ?? item.Created)</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>