@model ACTS.Core.Entities.Employee

@{
	ViewBag.CurrentPage = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
	ViewBag.Title = GlobalRes.EditEmployee;
}

@section Styles{
	@Styles.Render("~/Content/css/bootstrap-fileinput")
}

@section Scripts{
	@Scripts.Render("~/bundles/jqueryval-admin",
					"~/bundles/expressive",
					GlobalRes.fileinputPath)
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">@GlobalRes.Redact @Model.FullName</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
			{
				<div class="box-body">
					@Html.AntiForgeryToken()

					@Html.ValidationSummary(true, "", new { @class = "text-red" })
					@Html.HiddenFor(model => model.EmployeeId)
					@Html.HiddenFor(model => model.PhotoId)

					<div class="form-group">
						@Html.LabelFor(model => model.FullName, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.FullName } })
							@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Position, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", placeholder = GlobalRes.Position, style = "width: 100%;" } })
							@Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-red" }, "p")
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PhotoId, GlobalRes.CurrentPhoto, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							@if (Model.PhotoId == null)
							{
								<p class="form-control-static">
									@GlobalRes.None
								</p>
							}
							else
							{
								<img alt="Employee image" class="img-thumbnail" style="max-width:100%;max-height:400px" src="@Url.Action("Index", "File", new { area = "", id = Model.PhotoId })" />
							}
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PhotoId, GlobalRes.UploadNewPhoto, new { @class = "col-md-3 col-lg-2 control-label" })
						<div class="col-md-8 col-lg-9">
							<input id="input-image" class="file-loading form-control" accept="image/*" type="file" name="Image" />
						</div>
						@Html.ValidationMessageFor(model => model.PhotoId, "", new { @class = "text-red" }, "p")
					</div>
				</div>
					<!-- /.box-body -->

				<div class="box-footer">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-edit"></i>&nbsp;@GlobalRes.Save
					</button>
					<a type="button" class="btn btn-default pull-right" href="@Url.Action("Table", "Employee")">
						<i class="fa fa-undo"></i>&nbsp;@GlobalRes.CancelAndReturnToTable
					</a>
				</div>
			}
			<!-- form end -->
		</div>
	</div>
</div>

