@{
    var culture = CultureHelper.GetImplementedCulture(UICulture);
    ViewBag.Title = $"{GlobalRes.PersonalPage} {ViewBag.Teacher.FullName}";
}
@helper LanguageLinkBuilder(string culture, string currentCulture)
{
    {
        @:<a 		
        if (culture == currentCulture)
        { 
            @: class="selectedLanguage"
        } 
        @: href="@Url.Action("SetCulture", "Home", new { culture = culture, returnUrl = Url.Action() })">@culture</a>
	}
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css/personal")
</head>
<body>
    <nav class="navbar navbar-static personalNav">
        <div class="container">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <div class="nav-collapse collase">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- /.navbar -->

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col col-sm-6">
                    <h1>
                        @ViewBag.Teacher.FullName
                        @ViewBag.Teacher.Greetings
                    </h1>
                </div>
                <div class="col col-sm-6">
                    <div class="well pull-right">
                        <img class="TeacherPhoto" alt="Teacher Photo" width="100" height="150" src="@Url.Action("GetPersonPhoto", "TeachingStaff", new { area = "", teacherSlug=ViewBag.Teacher.Slug})" />
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Begin Body -->
    <div class="container">
        <div class="row">
            <div class="col col-sm-3">
                <div id="sidebar">
                    <ul class="nav nav-stacked">
                        <li><h3 class="highlight">@GlobalRes.BlogMain <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                        <li><h3 class="highlight">@GlobalRes.BlogInterests<i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                        <li><h3 class="highlight">@GlobalRes.BlogPublications<i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <p>There is a lot to be said about RWD.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Use media queries or utility classes to customize responsiveness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-9">
                <div class="panel" style="min-height: 800px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- script references -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/personalPage")
@RenderSection("scripts", required: false)
</body>
</html>
