@{
    var culture = CultureHelper.GetImplementedCulture(UICulture);
    ViewBag.Title = $"{ViewBag.Teacher.FullName}";
}
@helper LanguageLinkBuilder(string culture, string currentCulture)
{
    {
        @:<a 		
        if (culture == currentCulture)
        { 
            @: class="selectedLanguage"
        } 
        @: href="@Url.Action("SetCulture", "Home", new { culture = culture, returnUrl = Url.Action() })">@culture</a>
	}
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css/personal")
</head>
<body>
    <nav class="navbar navbar-static personalNav">
    <p class="personName">@ViewBag.Teacher.FullName</p>
        <div class="container">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="@Url.Action("About",new { controller = "Department", area = "" })">
                            <img src="~/Content/Images/logo.png" style="max-height:100%" />
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="dropdown lang-menu navLink">
                        <a href="#" class="dropdown-toggle navLink" data-toggle="dropdown">
                            <i class="fa fa-fw fa-language"></i>&nbsp;@GlobalRes.Language
                        </a>
                        <ul class="dropdown-menu animated-dropdown-menu">
                            <li>
                                <a class="language" href="@Url.Action("SetCulture", "Home", new { culture = "uk", returnUrl = Url.Action(), area = "" })">
                                    <img src="~/Content/Images/uk.png" alt="Ukrainian flag" />
                                    <p>@GlobalRes.Ukrainian</p>
                                </a>
                            </li>
                            <li>
                                <a class="language" href="@Url.Action("SetCulture", "Home", new { culture = "en", returnUrl = Url.Action(), area = "" })">
                                    <img src="~/Content/Images/en.png" alt="English flag" />
                                    <p>@GlobalRes.English</p>
                                </a>
                            </li>
                            <li>
                                <a class="language" href="@Url.Action("SetCulture", "Home", new { culture = "ru", returnUrl = Url.Action(), area = "" })">
                                    <img src="~/Content/Images/ru.png" alt="Russian flag" />
                                    <p>@GlobalRes.Russian</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- /.navbar -->

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col col-sm-6">
                    <h1>
                        @ViewBag.Teacher.FullName
                        @ViewBag.Teacher.Greetings
                    </h1>
                </div>
                <div class="col col-sm-6">
                    <div class="well pull-right">
                        <img class="TeacherPhoto" alt="Teacher Photo" width="100" height="150" src="@Url.Action("GetPersonPhoto", "TeachingStaff", new { area = "", teacherSlug=ViewBag.Teacher.Slug})" />
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Begin Body -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div id="sidebar">
                    <ul class="nav nav-stacked personalSideBar nav-tabs">
                        <li id="sideTitle"><a href="#a" data-toggle="tab">@GlobalRes.BlogMain</a></li>
                        <li><a href="@Url.Action("Blog", new { controller = "Blog", area = "Peoples", nameSlug = ViewBag.Teacher.Slug })">@GlobalRes.Blog</a></li>
                        <li><a href="#c" data-toggle="tab">@GlobalRes.BlogInterests</a></li>
                        <li><a href="#d" data-toggle="tab">@GlobalRes.BlogPublications</a></li>
                        <li><a href="#e" data-toggle="tab">@GlobalRes.BlogProjects</a></li>
                        <li><a href="#f" data-toggle="tab">@GlobalRes.BlogMaterials</a></li>
                        <li><a href="#b" data-toggle="tab">Back To Top ICON</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="panel" style="min-height: 1800px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- script references -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/personalPage")
@RenderSection("scripts", required: false)
</body>
</html>
