<div class="col-md-3">
    <nav class="nav-column">
        <ul class="nav navbar">
            <li class="sidebar-brand">
            <li><a class="active" href="@Url.Action("Index","PersonalPage")">@GlobalRes.BlogMain</a></li>
            <li><a href="@Url.Action("ScienceInterests","PersonalPage")">@GlobalRes.BlogInterests</a></li>
            <li><a href="@Url.Action("Publications","PersonalPage")">@GlobalRes.BlogPublications</a></li>
            <li><a href="@Url.Action("Projects","PersonalPage")">@GlobalRes.BlogProjects</a></li>            
            <li><a href="@Url.Action("Materials","PersonalPage")">@GlobalRes.BlogMaterials</a></li>
            <li><a href="@Url.Action("Index","Blog")">@GlobalRes.Blog</a></li>
        </ul>
        <a class="back-to-top" href="#top">Back to top</a>
    </nav>
</div>

